Package: com.xyaman.libsona
Name: libSona
Version: 0.1.2
Depends: mobilesubstrate, com.ryannair05.audiosnapshotserver
Architecture: iphoneos-arm
Description: Simple audio visualizer library.
Maintainer: Xyaman
Author: Xyaman
Section: System
Tag: role::developer
Depiction: https://repo.xyaman.xyz/depictions/index.html?p=libsona
SileoDepiction: https://repo.xyaman.xyz/depictions/libsona/depiction.json
Icon: https://repo.xyaman.xyz/depictions/libsona/assets/icon.png
